@import "../App.scss";

.header {
  @include flexBetCen;
  height: 5vw;
  padding: 0 5vw;
  background-color: $primary-color;

  .header__logo {
    @include flexCenCen;
    height: 100%;

    .header__logo-img {
      margin: 0 1vw;
      width: auto;
      height: 50%;
    }

    .header__logo-text {
      color: $light-color;
      margin: 0;

      span {
        color: $success-color;
      }
    }
  }

  .header__nav {
    @include flexBetCen;

    .header__nav-item {
      margin: 1vw;
      color: $light-color;
      list-style: none;
      transition: color 750ms ease-in;
    }

    .header__nav-item:hover {
      color: $success-color;
      cursor: pointer;
    }
  }
}
