@import '../App.scss';

.hero {
  @include flexBetCen;
  background-color: $secondary-color;

  .hero__img {
    width: 50%;
    height: auto;
  }

  .hero__right {
    @include flexColCenCen;
    width: 50%;
    padding: 5vw;
  }
}