@import '../App.scss';

.vertical {
  background-color: $primary-color;
  color: $light-color;
  height: 100vh;
  padding: 2.5vw 2vw;
  width: 25vw;

  .vertical__logo {
    @include flexStaCen;
    width: 25%;

    .vertical__logo-img {
      margin: 0;
      margin-right: 1vw;
      width: 50%;
      height: auto;
    }

    .vertical__logo-text {
      color: $light-color;
      margin: 0;

      span {
        color: $success-color;
      }
    }
  }

  .vertical__content {
    margin: 2.5vw 0;
    height: 60vh;
  }

  .vertical__logout {
    @include flexEndCen;
  }
}