@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap);

//Fonts
$title-font: "Roboto Condensed", sans-serif;
$text-font: "Roboto", sans-serif;

//Colors
$primary-color: #0B2239;
$secondary-color: #E3E9ED;
$success-color: #69E781;
$select-color: #4AD295;
$danger-color: #D75A4A;
$warning-color: #FFB229;
$info-color: #0E2A47;
$light-color: #FFFFFF;
$dark-color: #1D262D;
